<ul class="navbar-nav header-color md-0">
  <li class="nav-item dropdown session-box" [class.d-none]="authService.isLogin()">
    <a class="pl-md-3 text-primary" routerLink="/login">登录</a> / 
    <a class="pr-md-3 text-primary" routerLink="/regist">注册</a>
  </li>
  <li class="nav-item dropdown" [class.d-none]="!authService.isLogin()">
    <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <fa name="user"></fa>
    </a>
    <div class="dropdown-menu shadow dropdown-menu-right" aria-labelledby="navbarDropdown">
      <a class="dropdown-item nomal-item" href="#"><small>
        <fa name="user" class="mr-2"></fa>  我的主页
      </small></a>
      <a class="dropdown-item nomal-item" href="#"><small>
        <fa name="tachometer" class="mr-2"></fa>  设置
      </small></a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="javascript:void(0)" (click)="authService.logout()"><small>
        <fa name="power-off" class="mr-2"></fa> 退出登录
      </small></a>
    </div>
  </li>
</ul>
