@import '../../../styles/constants.scss';

.dropdown-menu {
    border-radius: 0;
    .dropdown-item {
        font-size: 1rem;

        .color-warning {
            color: $color-tomato;
        }
    }

    .nomal-item:hover {
        background: #ddd;
    }
}

.session-box {
    font-size: .9rem;
    a {
        text-decoration:none;
    }
}
