.form-control {
    border: 0;
    border-radius: 0;
    background: rgb(224, 224, 224);
}

.form-control:hover, .form-control:focus {
    background: rgb(247, 247, 247);
}

@media screen and (min-width: 768px) {
    .form-input {
        width: 100%;
        max-width: 260px;
    }
}