@import '../../../../../styles/constants.scss';
@import '../../../../../styles/color.scss';


.touch-block {
    border: 1px dashed rgba(25, 51, 109, 0.3);
    float: left;
    text-align: center;
    width: 100%;
}
.touch-block:hover {
    border: 1px solid rgba(60, 117, 163, 0.3);
}

.touch-block .text-color {
    border: 0;
    cursor: pointer;
    color: rgba(60, 117, 163, 0.5);
    font-size: 1.2rem;
}

.touch-block .text-color:hover {
    color: $color-pro-blue;
}

.type-body {
    $height: 8rem;
    height: $height;
    line-height: $height;
}

.block-type {
    cursor: pointer;
}