<div [class]="'touch-block ' + class">

  <span *ngIf="touchBar" class="type-body">

    <div
      *ngIf="switchName"
      (click)="showSwitchBar()"
      (mouseover)="showSwitchBar()"
    >
      <span class="text-color">添加文档块</span>
    </div>

    <div *ngIf="switchBar" (mouseleave)="hideSwitchBar()">
      <span class="mr-3 color-light-pink block-type" (click)="onText()"><fa name="sticky-note-o"></fa> 文档</span>
      <span class="mr-3 color-cornflower-blue block-type" (click)="onCode()"><fa name="code"></fa> 代码</span>
      <span class="mr-3 color-light-green block-type" (click)="onImage()"><fa name="image"></fa> 图片</span>
      <span class="mr-3 color-olive-light block-type" (click)="onTable()"><fa name="table"></fa> 表格</span>
    </div>

  </span>

  <div *ngIf="currentMode === 'text'">
    <wiki-markdown-mode (cancel)="onCancel()"></wiki-markdown-mode>
  </div>
  <div *ngIf="currentMode === 'code'">
    <wiki-code-mode (cancel)="onCancel()"></wiki-code-mode>
  </div>

</div>
