@import '../../../styles/constants.scss';
@import '../../../styles/color.scss';

.new-article {
    font-size: 1rem;
    text-decoration: none;
    width: 100%;
    color: $color-pro-blue;
    border: 1px dashed #ddd;
    padding-left: 1rem;
}
.new-article:hover {
    color: $color-cornflower-blue;
}

.left-bar {
    border: 0;
}

.article-tab {
    font-size: 1rem;
    text-decoration: none;
    width: 100%;
    color: $color-light-dark;
    // border-left: 3px solid $color-slate-blue;
    border-bottom: 2px dashed rgba(92, 92, 92, 0.2);
}