<div class="container wiki-builder">
  <div class="row">

    <div class="col-md-3 left-bar">
      <a class="article-tab py-2 float-left" href="" (click)="addEntry($event)">
        <fa name="image" class="color-medium-sea"></fa> 添加图片
      </a>
      <a class="article-tab py-2 mt-2 float-left" href="" (click)="addEntry($event)">
        <fa name="link" class="color-pro-blue"></fa> 词条引用
      </a>
      <a class="article-tab py-2 mt-2 float-left" href="" (click)="addEntry($event)">
        <fa name="search" class="color-orange"></fa> 查看笔记本
      </a>
      <a class="article-tab py-2 mt-2 float-left" href="" (click)="addEntry($event)">
        <fa name="magic" class="color-light-pink"></fa> 预览
      </a>
      <a class="article-tab py-2 mt-2 float-left" href="" (click)="addEntry($event)">
        <fa name="save" class="color-olive-drab"></fa> 存草稿
      </a>
      <a class="article-tab py-2 mt-2 float-left" href="" (click)="addEntry($event)">
        <fa name="info" class="color-slate-blue"></fa> 使用说明
      </a>
    </div>

    <div class="col-md-9">
      <wiki-builder-editor></wiki-builder-editor>
    </div>

  </div>
</div>
