/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    font-family: '-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif';
}

.indent-two-word {
    text-indent: 2em;
}

pre[class*="language-"] {
    border-radius: 0 !important;
    margin: 0 !important;
}