<div class="card mt-2 simple-block">
  <span class="card-body card-link">
    <h4 class="card-title">
      <a class="title card-link font-weight-bold" [routerLink]="href" [title]="title">{{ title }}</a>
    </h4>
    <span class="text-secondary">{{ text }}</span>
  </span>
</div>
