@import '../../../styles/constants.scss';

.logo, .logo:visited {
    vertical-align: baseline;
    color: $color-pro-blue;
    font-weight: bold;
}
.logo:hover {
    color: rgb(71, 163, 255);
}

.logo img {
    background: #eee !important;
}
