<div class="editor">
  <span class="touch-block type-title"><span class="text-color">词条名</span></span>
  <span class="touch-block type-title mt-2"><span class="text-color">词条介绍 <small>（150字以内）</small></span></span>

  <wiki-editor-block class="mt-2"></wiki-editor-block>
</div>
