.board-title {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    line-height: 1.1;
    border-bottom: 1px solid #e1e1e1;

    .more {
        font-size: 1rem;
        line-height: 2;
        vertical-align: middle;
    }
}