<h2 class="board-title">
  <span [class]="class">
    <fa [name]="icon"></fa>
    {{ text }}
  </span>

  <span class="font-weight-normal pull-right more px-2">
    <a [routerLink]="moreHref" class="text-secondary">More</a>
  </span>
</h2>
