<div class="card mt-2">
  <a class="card-body card-link" [routerLink]="href" [title]="entry">
    <h4 class="card-title">
      <span class="title font-weight-bold">{{ entry }}</span>
    </h4>
    <span class="text-secondary">{{ text }}</span>
  </a>

  <div class="card-footer text-muted font-italic footer">
      <span class="footer-body pull-left">
        <span class="text-black-50">2018-10-16</span>
      </span>

    <span class="footer-body pull-right">
      <span class="mr-2" [title]="user"><a [routerLink]="userUrl">{{ user }}</a></span>
      <span class="mr-2" title="收藏">
        <a [routerLink]="userUrl" class="text-warning"><fa name="star"></fa></a>(20)
      </span>
      <span class="mr-2" title="浏览">
        <a [routerLink]="userUrl" class="text-primary"><fa name="eye"></fa></a>(220)
      </span>
    </span>
  </div>
</div>
