@import '../../../styles/constants.scss';

.card {
    border-radius: 0;
    border-left: 1px dashed #ddd;
    border-right:  0;
    border-bottom: 1px dashed #ddd;
    border-top: 1px dashed #ddd;
}

.title {
    color: $color-royal-blue;
}

.card-footer {
    background: #FFF;
    border-top: 0;
}

.footer-body {
    font-size: .8rem;
}
