<div>
  <ul class="nav nav-tabs code-bar">
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': !preview}" href="#" (click)="onEdit($event)">编辑</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': preview}" href="#" (click)="onPreview($event)">预览</a>
    </li>
    <li class="nav-item">
      <a class="nav-link color-low-dark" href="#" (click)="onCancel($event)">取消</a>
    </li>
  </ul>
  <div>
    <textarea
      placeholder="在这里输入代码"
      class="code-textarea border-0"
      [ngClass]="{'d-none': preview}"
      [(ngModel)]="content"
    >
    </textarea>
    <div class="markdown-preview">
      <markdown
        [data]="content"
        [ngClass]="{'d-none': !preview}"
      >
      </markdown>
    </div>
  </div>
</div>
