<div class="container">
  <div class="row">

    <div class="col-md-9 shadow-sm">

      <wiki-single-header
        [id]="id"
        [title]="title"
        [collect]="collect"
        [watch]="watch"
        [date]="date"
        [userId]="userId"
        [userName]="userName"
      ></wiki-single-header>

      <wiki-tool-bar [userId]="userId" [id]="id"></wiki-tool-bar>
      <wiki-single-body></wiki-single-body>

    </div>

    <div class="col-md-3 d-none d-md-block">
      <wiki-single-index></wiki-single-index>
    </div>

  </div>
</div>