<div class="card wiki-card">
  <div class="card-body">
    <h5 class="card-title font-weight-bold">
      <a [routerLink]="href" class="card-link">{{ title }}</a>
    </h5>
    <div class="row">
      <span *ngIf="image" class="col-md-4">
        <img class="card-img-top" [title]="title" [src]="image" />
      </span>
      <p [class.col-md-8]="image" class="col">
        {{ content }}
      </p>
    </div>

    <div class="card-footer text-muted font-italic footer">
        <span class="footer-body pull-left">
          <span class="text-black-50">{{ datetime }}</span>
        </span>
  
      <span class="footer-body pull-right">
        <span class="mr-2" [title]="user"><a [routerLink]="userUrl">{{ user }}</a></span>
        <span class="mr-2" title="收藏">
          <a href="#" (click)="onCollect($event)" class="text-warning"><fa name="star"></fa></a>(20)
        </span>
        <span class="mr-2" title="浏览">
          <a href="#" (click)="onWatch($event)" class="text-primary"><fa name="eye"></fa></a>(220)
        </span>
      </span>
    </div>

  </div>
</div>
