.wiki-card {
    border-radius: 0;
    border-top: 1px solid #ddd;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    margin-top: 0;
    font-size: 17px;
}

.card-footer {
    background: #FFF;
    border-top: 0;
}

.footer-body {
    font-size: .8rem;
}

.card-link {
    color: #1a1a1a;
}