<nav class="nav py-2">
  <a href="#" class="nav-link nav-btn" [class.active]="isRecommendTab()" [class.bottom-blue]="isRecommendTab()"
    [class.disabled]="!isRecommendTab()" (click)="switchRecommendTab($event)">
    推荐
  </a>
  <a href="#" class="nav-link nav-btn ml-2" [class.active]="isNewTab()" [class.bottom-blue]="isNewTab()"
    [class.disabled]="!isNewTab()" (click)="switchNewTab($event)">
    最新
  </a>
  <a href="#" class="nav-link nav-btn ml-2 d-md-none" [class.active]="isToolsTab()" [class.bottom-blue]="isToolsTab()"
    [class.disabled]="!isToolsTab()" (click)="switchToolsTab($event)">
    管理
  </a>
</nav>
