@import './constants.scss';

.color-royal-blue {
    color: $color-royal-blue !important;
}

.color-orange {
    color: $color-orange !important;
}

.color-cornflower-blue {
    color: $color-cornflower-blue !important;
}

.color-pro-blue {
    color: $color-pro-blue !important;
}

.color-pop-dark {
    color: $color-pop-dark !important;
}

.color-low-dark {
    color: $color-low-dark !important;
}

.color-front-base {
    color: $color-front-base !important;
}

.color-tomato {
    color: $color-tomato !important;
}

.color-spring {
    color: $color-spring !important;
}

.color-medium-sea {
    color: $color-medium-sea !important;
}

.color-slate-blue {
    color: $color-slate-blue !important;
}

.color-coral {
    color: #FF7F50 !important;
}

.color-light-green {
    color: #90EE90 !important;
}

.color-khaki {
    color: #F0E68C !important;
}

.color-light-pink {
    color: rgb(255, 146, 103) !important;
}

.color-olive-drab {
    color: #008B8B !important;
}

.color-olive-light {
    color: rgb(81, 211, 211) !important;
}