$color-royal-blue: #4169E1;  // 皇家蓝/宝蓝
$color-cornflower-blue: #6495ED;  // 矢车菊蓝
$color-pro-blue: rgb(60, 117, 163);
$color-pop-dark: #1A1A1A;  // 流行黑
$color-low-dark: rgb(63, 63, 63);  // 底亮度黑
$color-light-dark: rgb(100, 100, 100);  // 底亮度黑
$color-front-base: #EEE;  // 通用前景色
$color-tomato: #FF6347;  // 番茄红
$color-spring: #00FF7F;  // 春绿色
$color-medium-sea: #3CB371;  // 中海洋绿
$color-slate-blue: #6A5ACD;  // 石蓝色
$color-orange: #FFA500;  // 橙色
