<div [class.d-none]="isHidden()">
  <button *ngIf="authService.isLogin()" type="button" class="close close-btn text-muted" (click)="close()">
    <span>&times;</span>
  </button>
  <div class="jumbotron jumbotron-fluid row">
    <div class="col">
      <div class="pull-right pic">
        <img [src]="img" alt="mou" width="169" height="176">
      </div>
      <h1 class="display-3">
        <span>{{ header }}</span>
      </h1>
      <p>{{ text }}</p>
    </div>
  </div>
</div>