.jumbotron {
    background: rgb(247, 247, 247);
    padding-right: 60px;
    padding-left: 60px;
    border-radius: 6px;

    h1 {
        font-size: 25pt;
        font-weight: bold;
        line-height: 1.1;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    p {
        font-size: 1.2rem;
        line-height: 1.4;
    }

    .pic {
        box-sizing: border-box;
    }

    img {
        display: inline-block;
        border: 0;
        box-sizing: border-box;
    }
}

.close-btn {
    position: absolute;
    margin-top: 1rem;
}