<div [class]="'list-group link-list-group' + class">
  <a
    *ngFor="let item of items"
    class="list-group-item d-flex justify-content-between align-items-center link-list"
    [routerLink]="item.href"
    [title]="item.name"
  >
    <span class="name">
      <fa [name]="item.icon"></fa> {{ item.name }}
    </span>
    <span *ngIf="item.count" class="badge badge-primary badge-pill">{{ item.count }}</span>
  </a>
</div>
