@import '../../../styles/constants.scss';

.nav-item.active .nav-link {
    color: $color-pop-dark !important;
}

@media screen and (min-width: 768px) {
    .nav-link:hover {
        background: #ccc;
        color: $color-pop-dark !important;
    }
}