<div class="card header">
  <div class="card-body">
    <div class="row">
      <span class="col-md-4">
        <img class="card-img-top" src="https://gss0.bdstatic.com/-4o3dSag_xI4khGkpoWK1HF6hhy/baike/w%3D268%3Bg%3D0/sign=7e39750b3d2ac65c67056175c3c9d52c/9f510fb30f2442a79d8d54ced943ad4bd01302dd.jpg" />
      </span>
      <span class="col col-md-8">
        <h5 class="card-title">{{ title }}</h5>
        <ul class="info">
          <li><span class="text-black-50">所有者: </span><a routerLink="['/wiki', userId]">{{ userName }}</a></li>
          <li><span class="text-black-50">收录: </span><a routerLink="/wiki">{{ collect }}</a></li>
          <li><span class="text-black-50">收听: </span><a routerLink="/wiki">{{ watch }}</a></li>
          <li><span class="text-black-50">更新时间: </span>{{ date }}</li>
        </ul>
      </span>
    </div>
  </div>
</div>