@import './styles/constants.scss';

@media screen and (min-width: 1366px) {
    .content {
        padding-left: 18% !important;
        padding-right: 18% !important;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
    .content {
        padding-left: 14% !important;
        padding-right: 14% !important;
    }
}

@media screen and (min-width: 850px) and (max-width: 1024px) {
    .content {
        padding-left: 16% !important;
        padding-right: 16% !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .content {
        padding-left: 6% !important;
        padding-right: 6% !important;
    }
}

@media screen and (min-width: 100px) and (max-width: 768px) {
    .content {
        padding-left: 0% !important;
        padding-right: 0% !important;
    }
}

.pointer {
    cursor: pointer;
}
