<div class="home container">
  <app-home-bulletin
    img="https://www.easyicon.net/api/resizeApi.php?id=1155521&size=128"
    header="欢迎使用 Fences wiki！"
    text="认识自己，也让世界认识你！"
  ></app-home-bulletin>
  <button (click)="pingHandle()">Ping</button>
  <!-- end of  jumbotron -->

  <div class="row">
    <div class="col-md-7">
      <app-home-block-title text="词条 Entry" more-href="/wiki" icon="file-text-o"></app-home-block-title>
      <app-home-block-body user="妖魔鬼怪" userUrl="/lio" entry="早晨" href="#" text="今天的开始，令人反感的一天开始了，不喜欢。" ></app-home-block-body>
      <app-home-block-body user="lio" userUrl="/lio" entry="梦" href="#" text="那是现实的延续。" ></app-home-block-body>
      <app-home-block-body user="lio" userUrl="/lio" entry="蓝天" href="#" text="温暖的东西，不习惯的东西，害怕的东西，不需要的东西" ></app-home-block-body>
      <app-home-block-body user="lio" userUrl="/lio" entry="现实" href="#" text="那就是梦的结束。" ></app-home-block-body>
      <app-home-block-body user="lio" userUrl="/lio" entry="雨" href="#" text="忧郁的心境，就像心情一样，不喜欢。" ></app-home-block-body>
      <app-home-block-body user="lio" userUrl="/lio" entry="夕阳" href="#" text="逐渐消逝的生命，我的愿望，不喜欢。" ></app-home-block-body>
    </div>

    <div class="col-md-5">
      <app-home-block-title text="公告 Notice" more-href="/wiki" icon="newspaper-o"></app-home-block-title>
      <app-home-simple-block title="November 30, 2017: Updates to Gentoo project-related templates" text="This is a test 1." href="#"></app-home-simple-block>
      <app-home-simple-block title="July 28, 2017: Word crimes" text="This is a test 2." href="#"></app-home-simple-block>
      <app-home-simple-block title="July 14, 2017: Thank you!" text="This is a test 3." href="#"></app-home-simple-block>
      <app-home-simple-block title="November 30, 2017: Updates" text="This is a test 4." href="#"></app-home-simple-block>
    </div>
  </div>

</div>
