@import '../../../styles/color.scss';

.ellipse-button {
    border-radius: 20px;
    background: rgb(243, 243, 243);
    margin-top: 10px;
}

.ellipse-button:hover {
    background: rgb(236, 236, 236);
}
