@import '../../../../styles/constants.scss';

.node-item {
    background: $color-royal-blue;
    color: white;
}

.node-content-wrapper {
    border-radius: 0;
    border: 0;
    background: white;
    color: $color-royal-blue;
    font-size: .9rem;
}

.node-content-wrapper-active, .node-content-wrapper-focused, .node-content-wrapper:hover {
    background: $color-cornflower-blue;
    color: white;
    // box-shadow: inset 0 0 1px $color-pro-blue;
}