<div class="index" id="wiki-single-index">
  <div class="index-body" id="wiki-single-index-body">

    <tree-root [nodes]="indexes" [options]="options">
      <ng-template #treeNodeWrapperTemplate let-node let-index="index">
        <div class="node-wrapper" [style.padding-left]="node.getNodePadding()">
          <div class="node-content-wrapper"
            [class.node-content-wrapper-active]="node.isActive"
            [class.node-content-wrapper-focused]="node.isFocused"
            (click)="node.mouseAction('click', $event)"
            (dblclick)="node.mouseAction('dblClick', $event)"
            (contextmenu)="node.mouseAction('contextMenu', $event)"
            (treeDrop)="node.onDrop($event)"
            [treeAllowDrop]="node.allowDrop"
            [treeDrag]="node"
            [treeDragEnabled]="node.allowDrag()">
    
            <tree-node-content [node]="node" [index]="index"></tree-node-content>
          </div>
        </div>
      </ng-template>
    </tree-root>

  </div>
</div>
