<div class="tool-bar card border-top border-bottom">
  <div class="card-body">
    <tool-ellipse-button (click)="collectHandle($event)" color="color-orange" icon="star-o" name="收录"></tool-ellipse-button>
    <tool-ellipse-button color="color-royal-blue" icon="link" name="引用"></tool-ellipse-button>
    <tool-ellipse-button color="color-medium-sea" icon="headphones" name="收听"></tool-ellipse-button>
    <span *ngIf="authService.isCurrentUser(userId)">
      <tool-ellipse-button color="color-slate-blue" icon="pencil" name="修改"></tool-ellipse-button>
      <tool-ellipse-button color="color-tomato" icon="recycle" name="删除"></tool-ellipse-button>
    </span>
  </div>
</div>