<div class="home container">
  <div class="row">
    <div class="col-md-8 shadow-sm">
      <wiki-switch-navbar (tab)="onTabSwitch($event)"></wiki-switch-navbar>

      <div *ngIf="isRecommendTab()">
        <app-wiki-card *ngFor="let entry of entries"
          id="1"
          [href]="['/wiki', entry.id]"
          image="https://gss0.bdstatic.com/-4o3dSag_xI4khGkpoWK1HF6hhy/baike/w%3D268%3Bg%3D0/sign=7e39750b3d2ac65c67056175c3c9d52c/9f510fb30f2442a79d8d54ced943ad4bd01302dd.jpg"
          title="jQuery JavaScript ML"
          content="诞生于2009年，由Misko Hevery 等人创建，后为Google所收购。是一款优秀的前端JS框架，已经被用于Google的多款产品当中。AngularJS有着诸多特性。"
          user="妖魔鬼怪"
          (collect)="onCollect($event)"
          (watch)="onWatch($event)"
          datetime="2018-10-16 20:03:10"
          >
        </app-wiki-card>
      </div>

    </div>
    <!-- end of left -->

    <div class="col-md-4 d-md-block" [class.d-none]="!isToolsTab()">
      <tool-transverse-nav [items]="writeDockItems"></tool-transverse-nav>
      <tool-link-list class="mt-2" [items]="readDockItems"></tool-link-list>
      <wiki-analysis-list [items]="analysisItems"></wiki-analysis-list>
    </div>

  </div>
</div>
