@import '../../../../../styles/constants.scss';
@import '../../../../../styles/color.scss';

.code-bar {
    background: $color-front-base;
}

.code-textarea {
    width: 100%;
    min-height: 10rem;
    line-height: 1em;
    border: 1px solid #aaa;
    padding: 1rem;
    font-size: 1rem;
    color: $color-light-dark;
}

.nav-item {
    font-size: .8rem;

    .nav-link {
        color: $color-low-dark;
    }
    .nav-link.active {
        color: $color-pro-blue
    }

    .dropdown-item {
        font-size: .9rem;
    }
}
