<div>
  <ul class="nav nav-tabs code-bar">
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': !preview}" href="#" (click)="onEdit($event)">编辑</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': preview}" href="#" (click)="onPreview($event)">预览</a>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle color-coral" data-toggle="dropdown">{{language}}</a>
      <div class="dropdown-menu">
        <a *ngFor="let lang of languages" (click)="onLanguageChange($event, lang)" class="dropdown-item" href="#">{{lang}}</a>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link color-low-dark" href="#" (click)="onCancel($event)">取消</a>
    </li>
  
  </ul>
  <div>
    <textarea
      placeholder="在这里输入代码"
      class="code-textarea border-0 text-monospace"
      [ngClass]="{'d-none': preview}"
      [(ngModel)]="content"
    >
    </textarea>
    <markdown
      [data]="content | language : language"
      [ngClass]="{'d-none': !preview}"
    >
    </markdown>
  </div>
</div>
