@import '../../styles/constants.scss';

.form-control {
    border: 2px dashed rgb(211, 211, 211);
    border-radius: 0;
}

.card {
    border: 1px dashed lightgray;
}

.card-header {
    // background: rgb(192, 192, 192);
    color: $color-royal-blue;
}

.submit {
    background: $color-pro-blue;
    color: $color-front-base;
}

.to-login {
    vertical-align: middle !important;
    line-height: 2.3rem;
    padding-left: 1rem;
    font-size: .8rem;
}
