<div class="px-3 container register">
  <div class="row justify-content-center">
    <div class="col-md-6 col-sm-10">
      <div class="card">
        <div class="card-header text-center font-weight-bold">
            请配置您的账号
        </div>
        <form
          class="regist-form card-body"
          (ngSubmit)="onSubmit()" [formGroup]="form"
        >
          <div class="form-group">
            <label for="name">姓 名</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name" 
              formControlName="name"
              aria-describedby="nameHelp"
              placeholder="输入您的姓名"
            />
            <small id="nameHelp" *ngIf="isInvalid('name', 'required')"  class="form-text text-danger">用户姓名不可以为空</small>
          </div>

          <div class="form-group">
            <label for="name">电子邮件</label>
            <input
              type="text"
              class="form-control"
              id="email"
              name="email"
              formControlName="email"
              aria-describedby="emailHelp"
              placeholder="输入您的姓名"
            />
            <small id="emailHelp" *ngIf="isInvalid('email', 'email')"  class="form-text text-danger">email 格式不正确</small>
            <small id="emailHelp" *ngIf="isInvalid('email', 'required')" class="form-text text-danger">email 不可以为空</small>
            <small *ngIf="hasAsyncError('email')" class="form-text text-danger">{{getAsyncError('email')}}</small>
          </div>

          <div class="form-group">
            <label for="password">密 码</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              formControlName="password"
              aria-describedby="passwordHelp"
              placeholder="登录密码"
            >
            <small id="passwordHelp" *ngIf="isInvalid('password', 'required')" class="form-text text-danger">密码不可以为空</small>
            <small id="passwordHelp" 
              *ngIf="isInvalid('password', 'minlength') || isInvalid('password', 'maxlength')" 
              class="form-text text-danger">密码由 6 ~ 16位字母数字或下划线组成</small>
          </div>

          <div class="form-group">
            <label for="re-password">确认密码</label>
            <input
              type="password"
              class="form-control"
              id="re-password"
              name="rePassword"
              formControlName="rePassword"
              placeholder="再次输入密码"
            >
            <small *ngIf="isInvalid('rePassword', 'required')" class="form-text text-danger">密码不可以为空</small>
            <small *ngIf="isInvalid('rePassword', 'minlength') || isInvalid('rePassword', 'maxlength')" 
              class="form-text text-danger">密码由 6 ~ 16位字母数字或下划线组成</small>
            <small *ngIf="isInvalid('rePassword', 'confirmPassword')" class="form-text text-danger">输入的密码不一致</small>
          </div>

          <div class="form-group">
            <label for="captcha">验证码</label>
            <div class="input-group">
              <input
                type="text"
                class="form-control mr-1"
                id="captcha"
                name="captcha"
                formControlName="captcha"
                aria-describedby="captchaHelp"
                placeholder="验证码"
              >
              <div class="input-group-prepend" (click)="refreshCaptcha()">
                <img [src]="captchaUrl" class="img-responsive pointer" alt="验证码" title="点击刷新验证码">
              </div>
            </div>
            <small *ngIf="isInvalid('captcha', 'required')" class="form-text text-danger">验证码不可以为空</small>
            <small *ngIf="isInvalid('captcha', 'minlength') || isInvalid('captcha', 'maxlength')" 
              class="form-text text-danger">验证码错误</small>
            <small *ngIf="hasAsyncError('captcha')" class="form-text text-danger">{{getAsyncError('captcha')}}</small>
          </div>

          <div class="form-group">
            <div class="input-group">
              <button type="submit" [class.disabled]="form.invalid" class="btn submit">OK！提交</button>
              <div class="input-group-prepend to-login">
                已经有账号了？<a routerLink="/login" class="card-link">去登录</a>吧～
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>