<div class="card mt-2 border-light">
  <div class="card-body">
    <h5 class="card-title title">猜你喜欢</h5>
    <div *ngFor="let item of items">
      <a
        class="card-link d-block text-truncate"
        [title]="item.name"
        [routerLink]="item.href"
      >
        {{ item.name }}
      </a>
    </div>
  </div>
</div>