<!-- ::tool-transverse-nav -->
<div class="container p-2">

  <ul class="nav d-flex">

    <li class="nav-item flex-fill" *ngFor="let item of items">
      <a class="nav-link nav-box disabled" [routerLink]="item.href">
        <div class="text-center">
          <fa [name]="item.icon"></fa>
        </div>
        <div class="text-center">{{ item.name }}</div>
      </a>
    </li>

  </ul>

</div>