<nav class="navbar navbar-expand-md navbar-fixed-top navbar-light header-color content header">
  <app-logo></app-logo>
  <button class="navbar-toggler navbar-toggler-center collapsed" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <header-nav-item name="wiki" icon="laptop" [active]="true" href="/wiki"></header-nav-item>
      <header-nav-item name="人脉" icon="street-view" [active]="false" href="/social"></header-nav-item>
      <header-nav-item name="动态" icon="cubes" [active]="false" href="/dynamic"></header-nav-item>
    </ul>
    <header-search-form></header-search-form>
    <header-session-box [isLogin]="false"></header-session-box>
  </div>
</nav>